---
- name: Download WordPress core
  become_user: "{{ site_user }}"
  ansible.builtin.command: wp core download
  args:
    chdir: "{{ site_home }}/files"

- name: Create wp-config.php
  become_user: "{{ site_user }}"
  ansible.builtin.command: >
    wp config create
    --dbhost='{{ db_host }}'
    --dbname={{ db_name }}
    --dbuser={{ db_user }}
    --dbpass={{ db_pass }}
    --dbprefix={{ db_prefix }}
    --dbcharset=utf8mb4
  args:
    chdir: "{{ site_home }}/files"
  ignore_errors: true

- name: Install WordPress
  become_user: "{{ site_user }}"
  ansible.builtin.command: >
    wp core install
    --url=http://{{ domain }}
    --title='Site Title'
    --admin_user='{{ admin_user }}'
    --admin_email='{{ admin_email }}'
    --admin_password='{{ admin_password }}'
    --skip-email
  args:
    chdir: "{{ site_home }}/files"
  ignore_errors: true

- name: Set permalink structure
  ansible.builtin.command: wp rewrite structure '/%postname%/'
  become_user: "{{ site_user }}"
  args:
    chdir: "{{ site_home }}/files"
  ignore_errors: true

- name: Flush cache
  ansible.builtin.command: wp cache flush
  become_user: "{{ site_user }}"
  args:
    chdir: "{{ site_home }}/files"
  ignore_errors: true
