---
- name: Delete WordPress Site
  hosts: webservers
  become: true
  vars:
    db_name: "{{ system_name }}"
    db_user: "{{ system_name }}"
    site_user: "{{ system_name }}"
    site_group: "{{ system_name }}"
    site_home: "/home/{{ site_user }}"

  tasks:
    - name: Remove cron job
      ansible.builtin.cron:
        name: "{{ site_domain }}"
        state: absent
      ignore_errors: true

    - name: Remove WordPress files
      ansible.builtin.file:
        path: "{{ site_home }}/files"
        state: absent

    - name: Drop MySQL database
      community.mysql.mysql_db:
        name: "{{ db_name }}"
        state: absent
        login_host: "{{ db_host.split(':')[0] }}"
        login_port: "{{ db_host.split(':')[1] | default('3306') }}"
        config_file: /home/wordsail/.my.cnf
      ignore_errors: true

    - name: Drop MySQL user
      community.mysql.mysql_user:
        name: "{{ db_user }}"
        state: absent
        login_host: "{{ db_host.split(':')[0] }}"
        login_port: "{{ db_host.split(':')[1] | default('3306') }}"
        config_file: /home/wordsail/.my.cnf
      ignore_errors: true

    - name: Remove site directories
      ansible.builtin.file:
        path: "{{ site_home }}"
        state: absent

    - name: Remove Nginx site configuration
      ansible.builtin.file:
        path: "/etc/nginx/sites-enabled/{{ site_domain }}.conf"
        state: absent
      notify: Reload nginx

    - name: Remove PHP-FPM pool configuration
      ansible.builtin.file:
        path: "/etc/php/8.3/fpm/pool.d/{{ system_name }}.conf"
        state: absent
      notify: Reload php-fpm

    - name: Remove site user
      ansible.builtin.user:
        name: "{{ site_user }}"
        state: absent
        remove: true

    - name: Remove site group
      ansible.builtin.group:
        name: "{{ site_group }}"
        state: absent
      ignore_errors: true

  handlers:
    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded

    - name: Reload php-fpm
      ansible.builtin.service:
        name: php8.3-fpm
        state: reloaded
