---
- hosts: all:!localhost
  gather_facts: false
  tasks:
    - name: Get OS and RAM information
      shell: |
        # OS Information
        if [ -f /etc/os-release ]; then
          OS_NAME=$(grep '^NAME=' /etc/os-release | cut -d'"' -f2)
          OS_VERSION=$(grep '^VERSION_ID=' /etc/os-release | cut -d'"' -f2 | cut -d'.' -f1,2)
          echo "OS_NAME:${OS_NAME}"
          echo "OS_VERSION:${OS_VERSION}"
        elif [ -f /etc/redhat-release ]; then
          OS_NAME=$(cat /etc/redhat-release | awk '{print $1}')
          OS_VERSION=$(cat /etc/redhat-release | grep -oE '[0-9]+\.[0-9]+' | head -1)
          echo "OS_NAME:${OS_NAME}"
          echo "OS_VERSION:${OS_VERSION}"
        else
          echo "OS_NAME:$(uname -s)"
          echo "OS_VERSION:$(uname -r | cut -d'.' -f1,2)"
        fi

        # Memory information (in MB)
        echo "TOTAL_MB:$(free -m | awk '/^Mem:/ {print $2}')"
      register: system_info
      changed_when: false

    - name: Output system information for parsing
      debug:
        msg: "{{ system_info.stdout }}"
